.cube-container {
    perspective: 800px;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    outline: none; /* Remove a borda de foco quando o cubo é clicado */
  }
  
  .cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateX(0deg) rotateY(0deg);
  }
  
  .side {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .front {
    background-color: red;
    transform: translateZ(100px);
  }
  
  .back {
    background-color: orange;
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .top {
    background-color: green;
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .bottom {
    background-color: blue;
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .left {
    background-color: yellow;
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .right {
    background-color: purple;
    transform: rotateY(90deg) translateZ(100px);
  }
  